h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  height: 55% !important;
  object-fit: contain;
  padding: 40px;
}

.card {
  height: 600px;
}

.border-r {
  border-radius: 15px;
}
.border-bottom-r {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
